<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io.connect(); 

	function scrape(){
		var url = document.getElementById('url').value;
		var filename = document.getElementById('filename').value;
		var data = { url:url,
					 filename: filename
					}
		socket.emit('startScrape', data);
		//console.log(data);
	}
</script>

	<label>url:</label></br>
    <input id="url" type="text" name="url"></br>
    <label>.md file name:</label></br>
    <input id="filename" type="text" name="filename"></br></br>
    <button onclick="scrape()">Scrape</button>
