<html>
<head>
  <title>Article Scraper</title>
</head>
<body>
    
<div ng-app="app">
    
    <form class="webform" id="jobapp" ng-submit="submit()" ng-controller="formsubmit">
    
        <label for="url">ArticleBase URL:</label>
        </br>
        <input type="text" ng-model="form.url" required>
        </br>
    
        <label for="category">Category:</label>
        </br>
        <input type="text" name="category" id="category" ng-model="form.category" required>
        </br>
    
        <br/>
        <input type="submit" value="Submit">
    </form>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>


<script type="text/javascript">

 var angularApp = angular.module("app", []);


angularApp.controller("formsubmit", ['$scope', '$http', function($scope, $http) {
    
    $scope.form = { }

    // when submitting the add form, send the text to the node API
    // $scope.submit = function() {
    // $http.post('/articlescraper/startScrape', $scope.form)
    // .success(function(data) {
    //     //$scope.formData = {}; // clear the form so our user is ready to enter another
    //     console.log(data);
    // })
    // .error(function(data) {
    //     console.log('Error: ' + data);
    // });
    // };
    
    
                 var request = $http({
                        method: "get",
                        url: "/articlescraper/testform",
                        params: {
                            action: "aa"
                        }
                    });

                    return( request.then(  ) );


    
}]);

</script>


</body>
</html>